# Documentation: https://github.com/compose-spec/compose-spec/blob/master/spec.md

version: '3.7'
services:

  database:
    container_name: database
    image: docker.io/webpwnized/mutillidae:database
    networks:
      - datanet   

  database_admin:
    container_name: database_admin
    depends_on:
      - database
    image: docker.io/webpwnized/mutillidae:database_admin
    ports:
      - 127.0.0.1:81:80
    networks:
      - datanet   

  # Port 8080 is for StackHawk to scan
  www:
    container_name: www
    depends_on:
      - database
      - directory
    image: docker.io/webpwnized/mutillidae:www
    ports:
      - 127.0.0.1:80:80
      - 127.0.0.1:8080:80
      - 127.0.0.1:443:443
    networks:
      - datanet
      - ldapnet

  directory:
    container_name: directory
    image: docker.io/webpwnized/mutillidae:ldap
    volumes:
      - ldap_data:/var/lib/ldap
      - ldap_config:/etc/ldap/slapd.d
    networks:
      - ldapnet

  directory_admin:
    container_name: directory_admin
    depends_on:
      - directory
    image: docker.io/webpwnized/mutillidae:ldap_admin
    ports:
      - 127.0.0.1:82:80
    networks:
      - ldapnet
   
volumes:
  ldap_data:
  ldap_config:

# Create network segments for the containers to use
networks:
    datanet:
    ldapnet:
